html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#frame {
  position: relative;
  width: 560px;
  height: 280px;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100%;
  height: 920px;
  background-image: url('imgs/map.png');
  background-size: cover;
}

.turret {
  position: absolute;
  width: 38px;
  height: 38px;
  z-index: 10;
}

.turret-image {
  width: 100%;
  height: 100%;
}

.gun-image {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 50px;
  height: 50px;
  transform-origin: 11px 11px;
  rotate: 90deg;
  z-index: 10;
}

.gun-image.red{
  rotate: 270deg;
}

#tank {
  position: absolute;
  z-index: 10;
}

#tank-image, #frame-image {
  position: absolute;
  width: 32px;
  height: 23px;
  transform-origin: center center;
  z-index: 10;
}

#frame-image {
  width: 33px;
  height: 30px;
  top: -3.5px;
  left: -0.5px;
  z-index: 9;
}

#halo {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 0, 0.5);
}

.bullet {
  position: absolute;
  border-radius: 50%;
  z-index: 20;
}

.tank-bullet {
  background-color: black;
  width: 4px;
  height: 4px;
}

.tower-bullet {
  background-color: purple;
  width: 5px;
  height: 5px;
  z-index: 5;
}

.hp-bar {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: red;
  top: -12px;
  left: 0px;
  z-index: 20;
}

.hp-bar-inner {
  height: 100%;
  background-color: rgb(15, 131, 15);
  width: 100%;
}

#hp-stats-bar-inner {
  height: 100%;
  background-color: #00cc00;
  width: 100%;
}

#hp-stats-bar {
  position: relative;
  width: 90px;
  height: 12px;
  margin-top: -3px;
  border: 1px solid black;
}

#hp-value {
  position: absolute;
  bottom: -4.5px;
  left: 2px;
  transform: translateY(-50%);
  color: white;
  font-size: 9px;
  font-family: Arial, sans-serif;
  z-index: 1;
}

#exp-bar {
  width: 90px; /* Adjust the width as needed */
  height: 7px; /* Optionally adjust the height */
  margin-top: 15px;
  background-color: #f9f80b;
  border: 1px solid black;
}

#exp-bar-inner {
  height: 100%;
  background-color: #0033ff;
  width: 100%;
}

#username {
  position: absolute;
  top: -22px;
  left: 0;
  width: 50px;
  color: darkblue;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  z-index: 20;
}

 #tank-stats-container {
  position: relative;
  width: 560px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: url('imgs/tank-stats.png');
  background-size: cover;
}

#mini-map-container {
  width: 56px;
  height: 92px;
  background-color: #e9e9e9;
  position: relative;
  margin-left: 15px;
  margin-top: 14px;
}

.mini-map-tank-turret{
  width: 3px;
  height: 3px;
  position: absolute;
  z-index: 10;
}

.mini-map-red {
  background-color: #990000
}

.mini-map-blue {
  background-color: #0000aa;
}

.mini-map-wall {
  position: absolute;
  background-color: #666666;
  z-index: 9;
}

.mini-map-camera-view {
  position: absolute;
  background-color: #8b8b8b;
  z-index: 8;
}

#shouty-3d-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 28px;
  margin-top: 20px;
}

#shouty-3d {
  width: 80px;
  height: 80px;
}

#shouty-3d-container label, #stats-container label, #stats-values-container label {
  font-size: 9px;
  font-family: Arial, sans-serif;
  color: black;
  margin: -5px;
}


#stats-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 22px;
  margin-left: 20px;
  gap: 15px;
}

#stats-values-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  margin-left: 20px;
  align-items: flex-start;
}

#stats-values-container label {
  font-weight: bold;
  margin-top: 10px;
  margin-left: -1px;
  font-size: 9px;
}

#damage{
  margin-top: -5px;
}

#damage-value{
  margin-top: 8px !important;
}

#username-label {
  font-weight: bold;
}

#skill-description {
  width: 150px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: black;
  line-height: 1.4;
  margin-top: 10px;
}