html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#frame {
  position: absolute;
  width: 540px;
  height: 400px;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100%; /* Assuming the map is larger */
  height: 880px; /* Assuming the map is larger */
  background-image: url('imgs/map.png');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

#turret {
  position: absolute;
  left: 136.5px; /* Adjust according to your map layout */
  bottom: 494px;
  width: 38px;
  height: 38px;
  z-index: 10;
}

#turret-image {
  width: 100%;
  height: 100%;
}

#gun-image {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 50px;
  height: 50px;
  transform-origin: 11px 11px;
  rotate: 90deg;
  z-index: 10;
}

#tank {
  position: absolute;
  z-index: 10;
}

#tank-image, #frame-image {
  position: absolute;
  width: 32px;
  height: 23px;
  transform-origin: center center; /* For rotating the tank */
  z-index: 10;
}

#frame-image {
  width: 33px;
  height: 30px;
  top: -3.5px;
  left: -0.5px;
  z-index: 9; /* Ensures the frame is above the tank */
}

.bullet {
  position: absolute;
  border-radius: 50%;
  z-index: 20;
}

.tank-bullet {
  background-color: black;
  width: 4px;
  height: 4px;
}

.tower-bullet {
  background-color: purple;
  width: 5px;
  height: 5px;
  z-index: 5;
}

.hp-bar {
  position: absolute;
  width: 30px;
  height: 5px;
  /* border: 1px solid #000; */
  background-color: red;
  top: -12px;
  left: 0px;
  z-index: 20;
}

.hp-bar-inner {
  height: 100%;
  background-color: rgb(15, 131, 15);
  width: 100%;
}
