html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frame {
  position: relative;
  width: 560px;
  height: 280px;
  overflow: hidden;
}

#map {
  position: relative;
  width: 100%;
  height: 920px;
  background-image: url('imgs/map.png');
  background-size: cover;
}

#turret {
  position: absolute;
  left: 142px;
  bottom: 520px;
  width: 38px;
  height: 38px;
  z-index: 10;
}

#turret-image {
  width: 100%;
  height: 100%;
}

#gun-image {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 50px;
  height: 50px;
  transform-origin: 11px 11px;
  rotate: 90deg;
  z-index: 10;
}

#tank {
  position: absolute;
  z-index: 10;
}

#tank-image, #frame-image {
  position: absolute;
  width: 32px;
  height: 23px;
  transform-origin: center center;
  z-index: 10;
}

#frame-image {
  width: 33px;
  height: 30px;
  top: -3.5px;
  left: -0.5px;
  z-index: 9;
}

#halo {
  position: absolute;
  top: -9px;
  left: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 0, 0.5);
  z-index: 8;
}

.bullet {
  position: absolute;
  border-radius: 50%;
  z-index: 20;
}

.tank-bullet {
  background-color: black;
  width: 4px;
  height: 4px;
}

.tower-bullet {
  background-color: purple;
  width: 5px;
  height: 5px;
  z-index: 5;
}

.hp-bar {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: red;
  top: -12px;
  left: 0px;
  z-index: 20;
}

.hp-bar-inner {
  height: 100%;
  background-color: rgb(15, 131, 15);
  width: 100%;
}

#username {
  position: absolute;
  top: -22px;
  left: 0;
  color: darkblue;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8px;
  z-index: 20;
}

#tank-stats-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tank-stats {
  width: 100%;
  height: 120px;
}

#tank-stats-container input {
  position: absolute;
  font-size: 9px;
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
  background: none;
  z-index: 100;
  color: black !important;
}

#health {
  top: 20px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#experience {
  top: 34px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#damage {
  top: 48px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#range {
  top: 62px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#armor {
  top: 76px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#speed {
  top: 90px; /* Adjust as needed */
  left: 200px; /* Adjust as needed */
}

#shouty-3d {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20px; /* Adjust as needed */
  left: 98px; /* Adjust as needed */
  z-index: 100;
}

#tank-stats-container input {
  position: absolute;
  font-size: 9px;
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
  background: none;
  z-index: 100;
  color: black !important;
}

#skill-item-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 15px; /* Adjust as needed */
  left: 385px; /* Adjust as needed */
  z-index: 100;
}

#skill-item-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 15px; /* Adjust as needed */
  left: 440px; /* Adjust as needed */
  z-index: 100;
}

#skill-item-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 15px; /* Adjust as needed */
  left: 495px; /* Adjust as needed */
  z-index: 100;
}

#shouty-skill-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 13px; /* Adjust as needed */
  left: 385px; /* Adjust as needed */
  z-index: 101;
}

#shouty-skill-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 13px; /* Adjust as needed */
  left: 440px; /* Adjust as needed */
  z-index: 101;
}

#shouty-skill-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 13px; /* Adjust as needed */
  left: 495px; /* Adjust as needed */
  z-index: 101;
}

#upgrade-1 {
  position: absolute;
  width: 45px;
  height: 13.5px;
  top: 2px;
  left: 385px;
  z-index: 101;
}

#upgrade-2 {
  position: absolute;
  width: 45px;
  height: 13.5px;
  top: 2px;
  left: 440px;
  z-index: 101;
}

#upgrade-3 {
  position: absolute;
  width: 45px;
  height: 13.5px;
  top: 2px;
  left: 495px;
  z-index: 101;
}

